$gap: 12px;

@mixin borderRadius($topLeft, $topRight, $bottomRight, $bottomLeft) {
  border-top-left-radius: $topLeft;
  border-top-right-radius: $topRight;
  border-bottom-right-radius: $bottomRight;
  border-bottom-left-radius: $bottomLeft;
}
